body{
	text-align: center;
}
.form-contaner{
	background: rgba(162, 163, 165, 0.9); 
    padding: 30px;
    margin: 50px auto;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


